<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LessonProject.Model.Properties.Settings.LessonProjectConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Sources\c#\web\ASP.NET\MVC course\Lesson3\Project\App_Data\LessonProject.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>